<div class="nav">
    <div class="navbar nav-content" (scroll)="onWindowScroll($event);">
        <div class="nav-cont">
            <div class="logo">
                <!-- <img class="img-logo" src="img/bee-logo.svg" alt="Bee" /> -->
                <h3>JamesSpace</h3>
            </div>
            <div class="nav-links">
                <ul class="nav-link">
                    <li><a href="#about">About</a></li>
                    <li><a href="#skill">Skill</a></li>
                    <li><a href="#myProject">My Project</a></li>
                    <li><a href="#exp">experience</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>

            </div>

            <div class="nav-ham">
                <div>
                    <div class="ham"></div>
                    <div class="ham"></div>
                    <div class="ham"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="main" id="about">
    <div class="content-1" style="padding-top: 10%;">
        <!-- <div style="width: 100%;">
            <div class="typewriter">
                <h1 style="text-align: center">Phongsakron Dutsadee</h1>
            </div>

            <h2 style="text-align: center">WebDeveloper | FrontEnd | BackEnd</h2>
        </div> -->
        <div class="flex-contrainer">
            <div class="flex-content">
                <div data-aos="fade-up">
                    <h1 style="text-transform: uppercase;">Welcome to JAMESSPACE</h1>
                    <p style="text-transform: uppercase;">portfolio web site</p>
                </div>
            </div>

            <div class="flex-content flex-end" style="text-align: end;">
                <h1 style="text-transform: uppercase;" data-aos="fade-up">Phongsakron Dutsadee</h1>
                <p data-aos="fade-up" data-aos-delay="500">WebDeveloper | FrontEnd | BackEnd</p>
                <div class="social-contrainer" data-aos="fade-left" data-aos-delay="1000">
                    <a href="https://www.facebook.com/PDJames1998" target="_blank">
                        <img class="social-logo" src="https://image.flaticon.com/icons/svg/124/124010.svg" alt="Facebook" style="background-color: white;">
                    </a>
                    <a href="https://www.linkedin.com/in/phongsakron-dutsadee-2b2656192/" target="_blank">
                        <img class="social-logo" src="https://image.flaticon.com/icons/svg/124/124011.svg" alt="" style="background-color: white;">
                    </a>
                    <!-- <a href="" target="_blank">
                            <img class="social-logo" src="https://image.flaticon.com/icons/svg/124/124015.svg" alt="" style="background-color: white;">
                        </a> -->
                    <!-- <a href="" target="_blank">
                            <img class="social-logo" src="https://image.flaticon.com/icons/svg/124/124013.svg" alt="" style="background-color: white;">
                        </a> -->
                    <a href="https://github.com/phongsakron" target="_blank">
                        <img class="social-logo" src="https://image.flaticon.com/icons/svg/36/36596.svg" alt=" " style="background-color: white;">
                    </a>
                </div>
                <p data-aos="fade-left" data-aos-delay="1000">Email : phongsakrondutsadee@gmail.com</p>


            </div>


        </div>
    </div>
</div>




<div class="main" id="skill">
    <div data-aos="fade-up">
        <div style="width: 100%;line-height: 5em;">
            <h1 style="text-align: center;text-transform: uppercase;" data-aos="fade-up" data-aos-delay="">Skill :</h1>
        </div>
    </div>

    <div class="fullwidth">
        <div class="divider">
        </div>
    </div>
    <div class="card-group">
        <div class="card" data-aos="fade-right" data-aos-once="true">
            <div class="card-content">
                <h3 style="text-align: center;text-transform: uppercase;">Front-End</h3>
                <img src="https://image.flaticon.com/icons/svg/2166/2166866.svg" alt="skill" style="width: 250px;height: 250px;">
                <ul>
                    <li>Angular (1 year exp)</li>
                    <li>HTML (1 year exp)</li>
                    <li>CSS (1 year exp)</li>
                    <li>TypeScript/JavaScript (1 year exp)</li>
                </ul>
            </div>
        </div>



        <div class="card" data-aos="fade-right" data-aos-once="true" data-aos-delay="600">
            <div class="card-content">
                <h3 style="text-align: center;text-transform: uppercase;">Back-end</h3>
                <img src="https://image.flaticon.com/icons/svg/2462/2462850.svg" alt="skill" style="width: 250px;height: 250px;">
                <ul>
                    <li>Python (1 year exp)</li>
                    <li>MySQL (1 year exp)</li>
                    <li>NodeJs (learning)</li>
                </ul>
            </div>

        </div>



        <div class="card" data-aos="fade-right" data-aos-once="true" data-aos-delay="1200">
            <div class="card-content">
                <h3 style="text-align: center;text-transform: uppercase;">productivity tool</h3>
                <img src="https://image.flaticon.com/icons/svg/2462/2462822.svg" alt="skill" style="width: 250px;height: 250px;">
                <ul>
                    <li>Git (1 year exp)</li>
                    <li>Trello (6 mounth exp)</li>
                    <li>Docker (learning)</li>
                </ul>
            </div>

        </div>

    </div>


</div>

<div class="main" id="myProject">
    <div data-aos="fade-up">
        <div style="width: 100%;line-height: 5em;">
            <h1 style="text-align: center;text-transform: uppercase;">My Project :</h1>
        </div>
    </div>

    <div class="fullwidth">
        <div class="divider">
        </div>
    </div>

    <div class="main-inner">
        <div class="card" data-aos="fade-right" data-aos-once="true">
            <div class="card-content">

                <div class="flex-contrainer">
                    <div class="flex-content">
                        <div id="slideshow" style="width: 250px;height: 250px;">
                            <div class="slide-wrapper">
                                <div class="slide">
                                    <img class="slide-img" src="https://image.flaticon.com/icons/svg/124/124010.svg">
                                </div>
                                <div class="slide">
                                    <img class="slide-img" src="https://image.flaticon.com/icons/svg/124/124011.svg">
                                </div>
                                <div class="slide">
                                    <img class="slide-img" src="https://image.flaticon.com/icons/svg/124/124012.svg">
                                </div>
                                <div class="slide">
                                    <img class="slide-img" src="https://image.flaticon.com/icons/svg/124/124013.svg">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex-content" style="flex: 2.5;">

                        <div style="text-align: justify;">
                            <h3 style="text-transform: uppercase;">Network Monitoring Web application</h3>
                            <p><b>Stack:</b> Angular,Python/Flask,MySQL,Docker,Git</p>
                            <p>
                                This project created by proposing to monitor the status of network devices and send alerts to the user. by using SNMP protocol and ICMP protocol.user can manage a network device, user and operate service via a web application.
                            </p>
                        </div>

                        <div style="text-align: start;">
                            <a href="https://github.com/phongsakron" target="_blank">
                                <img class="social-logo" src="https://image.flaticon.com/icons/svg/36/36596.svg" alt=" " style="background-color: white;width: 25px;height: 25px;"> Source Code
                            </a>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
<div class="main" id="exp">
    <div data-aos="fade-up">
        <div style="width: 100%;line-height: 5em;">
            <h1 style="text-align: center;text-transform: uppercase;">experience :</h1>
        </div>
    </div>

    <div class="fullwidth">
        <div class="divider">
        </div>
    </div>

    <div class="main-inner">
        <div class="timeline">


            <div data-aos="fade-right">
                <div class="container right">
                    <div class="content">
                        <h2>2016-2020</h2>

                        <h3>university of phayao</h3>
                        <p>Bachelor Degrees. Faculty of Engineering. Computer Engineering.</p>

                    </div>
                </div>
            </div>

            <div data-aos="fade-right" data-aos-delay="500">
                <div class="container right">
                    <div class="content">
                        <h2>Now</h2>
                        <p>
                            Internship student at Lannacom Co.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="fullwidth">
    <div class="divider">
    </div>
</div>

<div class="main" id="contact">
    <div class="content-1">
        <div data-aos="fade-up">
            <div style="width: 100%;line-height: 5em;">
                <h1 style="text-align: center">Contact :</h1>
            </div>
        </div>

        <div class="social-contrainer" style="text-align: center;">
            <a href="https://www.facebook.com/PDJames1998" target="_blank">
                <img class="social-logo" src="https://image.flaticon.com/icons/svg/124/124010.svg" alt="Facebook" style="background-color: white;">
            </a>
            <a href="https://www.linkedin.com/in/phongsakron-dutsadee-2b2656192/" target="_blank">
                <img class="social-logo" src="https://image.flaticon.com/icons/svg/124/124011.svg" alt="" style="background-color: white;">
            </a>
            <!-- <a href="" target="_blank">
                    <img class="social-logo" src="https://image.flaticon.com/icons/svg/124/124015.svg" alt="" style="background-color: white;">
                </a> -->
            <!-- <a href="" target="_blank">
                    <img class="social-logo" src="https://image.flaticon.com/icons/svg/124/124013.svg" alt="" style="background-color: white;">
                </a> -->
            <a href="https://github.com/phongsakron" target="_blank">
                <img class="social-logo" src="https://image.flaticon.com/icons/svg/36/36596.svg" alt=" " style="background-color: white;">
            </a>
            <p>Email : phongsakrondutsadee@gmail.com</p>
        </div>
    </div>

</div>





<div style="text-align: end;">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>