<div class="nav">
    <div class="navbar nav-content" (scroll)="onWindowScroll($event);">
        <div class="nav-cont">
            <div class="logo">
                <!-- <img class="img-logo" src="img/bee-logo.svg" alt="Bee" /> -->
                <h3>JamesSpace</h3>
            </div>
            <div class="nav-links">
                <ul class="nav-link">
                    <li><a href="#section">About</a></li>
                    <li><a href="#section">Contract</a></li>
                    <li><a href="#contact">Product</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>


<div class="main">
    <div class="content-1">
        <!-- <div style="width: 100%;">
            <div class="typewriter">
                <h1 style="text-align: center">Phongsakron Dutsadee</h1>
            </div>

            <h2 style="text-align: center">WebDeveloper | FrontEnd | BackEnd</h2>
        </div> -->
        <div class="flex-contrainer">
            <div class="flex-content">
                <h1>Wellcome to JAMESSPACE</h1>
                <p>portfolio web site</p>
            </div>
            <div class="flex-content flex-end">
                <h2>Phongsakron Dutsadee</h2>
                <p>WebDeveloper | FrontEnd | BackEnd</p>
            </div>
        </div>
    </div>
</div>
<div class="fullwidth">
    <div class="divider">
    </div>
</div>
<div class="main">
    <div style="width: 100%;line-height: 5em;">
        <h1 style="text-align: center">Skill :</h1>
    </div>
    <div class="card-group">

        <div class="card">
            <div class="card-content">
                <h3 style="text-align: center;">Font-End</h3>
                <img src="https://image.flaticon.com/icons/svg/2166/2166866.svg" alt="skill" style="width: 250px;height: 250px;">
                <ul>
                    <li>Angular</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>TypeScript/JavaScript</li>
                </ul>
            </div>

        </div>

        <div class="card">
            <div class="card-content">
                <h3 style="text-align: center;">Back-end</h3>
                <img src="https://image.flaticon.com/icons/svg/2462/2462850.svg" alt="skill" style="width: 250px;height: 250px;">
                <ul>
                    <li>NodeJs</li>
                    <li>Python</li>
                    <li>MySQL</li>
                </ul>
            </div>

        </div>


        <div class="card">
            <div class="card-content">
                <h3 style="text-align: center;">Productivity Tool</h3>
                <img src="https://image.flaticon.com/icons/svg/2462/2462822.svg" alt="skill" style="width: 250px;height: 250px;">
                <ul>
                    <li>Git</li>
                    <li>Slack</li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="fullwidth">
    <div class="divider">
    </div>
</div>
<div class="main">
    <div style="width: 100%;line-height: 5em;">
        <h1 style="text-align: center">My Project :</h1>
    </div>
    <div class="card">
        <div class="card-content">
            <h3 style="text-align: center;text-transform: uppercase;">Network Monitoring Web application</h3>
            <img src="https://image.flaticon.com/icons/svg/2166/2166866.svg" alt="skill" style="width: 250px;height: 250px;">
            <p><b>Stack:</b> Angular,Python/Flask,MySQL,Docker,Git</p>
            <p>
                This project creart by propose to monitor status of network devices and send alert to user. by using SNMP potocol and ICMP potocol.user can manage network device , user and oparate service via webapplication.
            </p>
        </div>

    </div>
</div>
<div class="main">
    <div style="width: 100%;line-height: 5em;">
        <h1 style="text-align: center">Exp :</h1>
    </div>

    <div class="timeline">


        <div class="container right">
            <div class="content">
                <h2>2012</h2>
                <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
        </div>

        <div class="container right">
            <div class="content">
                <h2>2007</h2>
                <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
            </div>
        </div>
    </div>
</div>

<div class="main" id="contact">
    <div style="width: 100%;line-height: 5em;">
        <h1 style="text-align: center">Contact :</h1>
    </div>
</div>

<img src="https://image.flaticon.com/icons/svg/124/124010.svg" alt="">
<img src="https://image.flaticon.com/icons/svg/124/124015.svg" alt="">
<img src="https://image.flaticon.com/icons/svg/124/124011.svg" alt="">
<img src="https://image.flaticon.com/icons/svg/124/124013.svg" alt="">
<img src="https://image.flaticon.com/icons/svg/36/36596.svg" alt="">

<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>