<div class="nav">
    <div class="navbar nav-content" (scroll)="onWindowScroll($event);">
        <div class="nav-cont">
            <div class="logo">
                <!-- <img class="img-logo" src="img/bee-logo.svg" alt="Bee" /> -->
                <h3>JamesSpace</h3>
            </div>
            <div class="nav-links">
                <ul class="nav-link">
                    <li><a href="#about">About</a></li>
                    <li><a href="#skill">Skill</a></li>
                    <li><a href="#myProject">My Project</a></li>
                    <li><a href="#exp">experience</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>

            </div>

            <div class="nav-ham">
                <div>
                    <div class="ham"></div>
                    <div class="ham"></div>
                    <div class="ham"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="main" id="about">
    <div class="content-1" style="padding-top: 10%;">
        <!-- <div style="width: 100%;">
            <div class="typewriter">
                <h1 style="text-align: center">Phongsakron Dutsadee</h1>
            </div>

            <h2 style="text-align: center">WebDeveloper | FrontEnd | BackEnd</h2>
        </div> -->
        <div class="flex-contrainer">
            <div class="flex-content">
                <h1 style="text-transform: uppercase;">Welcome to JAMESSPACE</h1>
                <p style="text-transform: uppercase;">portfolio web site</p>
            </div>

            <div class="flex-content flex-end" style="text-align: end;">
                <h1 style="text-transform: uppercase;" data-aos="fade-up">Phongsakron Dutsadee</h1>
                <p data-aos="fade-up" data-aos-delay="500">WebDeveloper | FrontEnd | BackEnd</p>
                <div class="social-contrainer" data-aos="fade-left" data-aos-delay="1000">
                    <a href="https://www.facebook.com/PDJames1998" target="_blank">
                        <img class="social-logo" src="https://image.flaticon.com/icons/svg/124/124010.svg" alt="Facebook" style="background-color: white;">
                    </a>
                    <a href="https://www.linkedin.com/in/phongsakron-dutsadee-2b2656192/" target="_blank">
                        <img class="social-logo" src="https://image.flaticon.com/icons/svg/124/124011.svg" alt="" style="background-color: white;">
                    </a>
                    <!-- <a href="" target="_blank">
                            <img class="social-logo" src="https://image.flaticon.com/icons/svg/124/124015.svg" alt="" style="background-color: white;">
                        </a> -->
                    <!-- <a href="" target="_blank">
                            <img class="social-logo" src="https://image.flaticon.com/icons/svg/124/124013.svg" alt="" style="background-color: white;">
                        </a> -->
                    <a href="https://github.com/phongsakron" target="_blank">
                        <img class="social-logo" src="https://image.flaticon.com/icons/svg/36/36596.svg" alt=" " style="background-color: white;">
                    </a>
                </div>
                <p data-aos="fade-left" data-aos-delay="1000">Email : phongsakrondutsadee@gmail.com</p>


            </div>


        </div>
    </div>
</div>




<div class="main" id="skill">
    <div style="width: 100%;line-height: 5em;">
        <h1 style="text-align: center;text-transform: uppercase;" data-aos="fade-up" data-aos-delay="">Skill :</h1>
    </div>
    <div class="fullwidth">
        <div class="divider">
        </div>
    </div>
    <div class="card-group">
        <div class="card" data-aos="fade-right" data-aos-once="true">
            <div class="card-content">
                <h3 style="text-align: center;text-transform: uppercase;">Front-End</h3>
                <img src="https://image.flaticon.com/icons/svg/2166/2166866.svg" alt="skill" style="width: 250px;height: 250px;">
                <ul>
                    <li>Angular</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>TypeScript/JavaScript</li>
                </ul>
            </div>

        </div>


        <div class="card" data-aos="fade-right" data-aos-once="true" data-aos-delay="600">
            <div class="card-content">
                <h3 style="text-align: center;text-transform: uppercase;">Back-end</h3>
                <img src="https://image.flaticon.com/icons/svg/2462/2462850.svg" alt="skill" style="width: 250px;height: 250px;">
                <ul>
                    <li>NodeJs</li>
                    <li>Python</li>
                    <li>MySQL</li>
                </ul>
            </div>

        </div>



        <div class="card" data-aos="fade-right" data-aos-once="true" data-aos-delay="1200">
            <div class="card-content">
                <h3 style="text-align: center;text-transform: uppercase;">productivity tool</h3>
                <img src="https://image.flaticon.com/icons/svg/2462/2462822.svg" alt="skill" style="width: 250px;height: 250px;">
                <ul>
                    <li>Git</li>
                    <li>Slack</li>
                    <li>Trello</li>
                </ul>
            </div>

        </div>

    </div>


</div>

<div class="main" id="myProject">
    <div style="width: 100%;line-height: 5em;">
        <h1 style="text-align: center;text-transform: uppercase;">My Project :</h1>
    </div>
    <div class="fullwidth">
        <div class="divider">
        </div>
    </div>

    <div class="main-inner">
        <div class="card">
            <div class="card-content">

                <div class="flex-contrainer">
                    <div class="flex-content">
                        <img src="https://image.flaticon.com/icons/svg/2166/2166866.svg" alt="skill" style="width: 250px;height: 250px;">

                    </div>

                    <div class="flex-content" style="flex: 2.5;">

                        <div style="text-align: justify;">
                            <h3 style="text-transform: uppercase;">Network Monitoring Web application</h3>
                            <p><b>Stack:</b> Angular,Python/Flask,MySQL,Docker,Git</p>
                            <p>
                                This project creart by propose to monitor status of network devices and send alert to user. by using SNMP potocol and ICMP potocol.user can manage network device , user and oparate service via webapplication.
                            </p>
                        </div>

                        <div style="text-align: start;">
                            <a href="" class="view-more">View More</a>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
<div class="main" id="exp">
    <div style="width: 100%;line-height: 5em;">
        <h1 style="text-align: center;text-transform: uppercase;">experience :</h1>
    </div>
    <div class="fullwidth">
        <div class="divider">
        </div>
    </div>

    <div class="main-inner">
        <div class="timeline">


            <div data-aos="fade-right">
                <div class="container right">
                    <div class="content">
                        <h2>2012</h2>
                        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                </div>
            </div>

            <div data-aos="fade-right" data-aos-delay="500">
                <div class="container right">
                    <div class="content">
                        <h2>2007</h2>
                        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="fullwidth">
    <div class="divider">
    </div>
</div>

<div class="main" id="contact">
    <div class="content-1">
        <div style="width: 100%;line-height: 5em;">
            <h1 style="text-align: center">Contact :</h1>
        </div>
        <div class="social-contrainer" style="text-align: center;">
            <a href="https://www.facebook.com/PDJames1998" target="_blank">
                <img class="social-logo" src="https://image.flaticon.com/icons/svg/124/124010.svg" alt="Facebook" style="background-color: white;">
            </a>
            <a href="https://www.linkedin.com/in/phongsakron-dutsadee-2b2656192/" target="_blank">
                <img class="social-logo" src="https://image.flaticon.com/icons/svg/124/124011.svg" alt="" style="background-color: white;">
            </a>
            <!-- <a href="" target="_blank">
                    <img class="social-logo" src="https://image.flaticon.com/icons/svg/124/124015.svg" alt="" style="background-color: white;">
                </a> -->
            <!-- <a href="" target="_blank">
                    <img class="social-logo" src="https://image.flaticon.com/icons/svg/124/124013.svg" alt="" style="background-color: white;">
                </a> -->
            <a href="https://github.com/phongsakron" target="_blank">
                <img class="social-logo" src="https://image.flaticon.com/icons/svg/36/36596.svg" alt=" " style="background-color: white;">
            </a>
            <p>Email : phongsakrondutsadee@gmail.com</p>
        </div>
    </div>

</div>





<div style="text-align: end;">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>