/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
html,
body {
    font-family: 'IBM Plex Sans', sans-serif;
    width: 100%;
    margin: 0%;
    padding: 0%;
    background-color: rgb(225, 225, 225);
}

.divider {
    display: inline-block;
    width: 50%;
    border-color: rgb(175, 175, 175);
    border-width: 2px 0px 0px 0px;
    border-style: solid;
}

.fullwidth {
    align-items: center;
    text-align: center;
}

.flex-contrainer {
    display: flex;
    flex-direction: column;
}

.flex-content {
    flex: 1;
}

.flex-space {
    display: flex;
    flex: 0.5;
}

#slideshow {
    overflow: hidden;
    height: 250px;
    width: 250px;
    margin: 0 auto;
}

.slide-wrapper {
    width: 1500px;
    -webkit-animation: slide 18s ease infinite;
}

.slide {
    float: left;
    height: 250px;
    width: 250px;
}

.slide-img {
    text-align: center;
}

@-webkit-keyframes slide {
    20% {
        margin-left: 0px;
    }
    30% {
        margin-left: -250px;
    }
    50% {
        margin-left: -250px;
    }
    60% {
        margin-left: -500px;
    }
    70% {
        margin-left: -500px;
    }
    80% {
        margin-left: -750px;
    }
    90% {
        margin-left: -750px;
    }
}

@media only screen and (min-width: 768px) {
    .flex-contrainer {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1150px) {
    .flex-contrainer {
        flex-direction: row;
    }
}